*.txt
*.m4a
*.mp3
*.wav
opencv*/
*.tar
*.tar.bz2
*.zip
.vscode/
._.DS_Store
.DS_Store
Thumbs.db
*.yml
*.yaml
*dataset*
*dataset/*
logs/
logs/*
*xml
*.cfg
*.weights
*.txt
*jpg
*.jpeg
*.png
*.webp
*.bmp
*.gif
*.avif
*.tiff
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.rmvb
*.mpg
*.mpeg

